{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}
  Dashboard - Analytics
{% endblock %}

{% block vendor_css %}
  {{ block.super }}
{% endblock %}

{% block vendor_js %}
  {{ block.super }}
{% endblock %}

{% block page_js %}
  {{ block.super }}
{% endblock %}

{% block content %}
  <div class="{{ container_class }}">
    <!-- Heading -->
    <div class="row justify-content-center">
      <div class="col-auto">
        <h2 class="mb-0">{{ landfill }}</h2>
      </div>
    </div>
    <!-- / Heading -->

    <br />

    <!-- Basic Bootstrap Table -->
    <div class="card">
      <h5 class="card-header">Ongoing Garbage Transfer</h5>
      <div class="table-responsive text-nowrap p-5">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>STS</th>
              <th>Vehicle</th>
              <th>Volume</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            {% for transfer in waste_transfers %}
              <tr>
                <td>
                  <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ transfer.id }}</strong>
                </td>
                <td>{{ transfer.sts }}</td>
                <td>{{ transfer.vehicle }}</td>
                <td>{{ transfer.volume }}</td>
                <td>{{ transfer.status }}</td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                    <div class="dropdown-menu">
                      {% if transfer.status == 'Sending to Landfill' %}
                        <a class="dropdown-item" href="{% url 'waste_transfer_start_dumping' transfer.id %}">{% comment %} <i class="bx bx-edit-alt me-1"></i> {% endcomment %}Start Dumping Waste</a>
                      {% elif transfer.status == 'Dumping in Landfill' %}
                        <a class="dropdown-item" href="{% url 'waste_transfer_end_dumping' transfer.id %}">{% comment %} <i class="bx bx-edit-alt me-1"></i> {% endcomment %}End Dumping Waste</a>
                      {% endif %}
                      <a class="dropdown-item" href="{% url 'waste_transfer_generate_bill' transfer.id %}">{% comment %} <i class="bx bx-edit-alt me-1"></i> {% endcomment %}Download Bill</a>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- / Basic Bootstrap Table -->

    <!-- Activity Timeline -->
    {% comment %} <div class="card">
      <div class="card-body">
        <ul class="timeline">
          <li class="timeline-item timeline-item-transparent">
            <span class="timeline-point-wrapper"><span class="timeline-point timeline-point-warning"></span></span>
            <div class="timeline-event">
              <div class="timeline-header mb-1">
                <h6 class="mb-0">Client Meeting</h6>
                <small class="text-muted">45 min ago</small>
              </div>
              <p class="mb-2">Project meeting with john @10:15am</p>
              <div class="d-flex flex-wrap">
                <div class="avatar me-3">
                  <img src="{% static 'assets/img/avatars/1.png' %}" alt="Avatar" class="rounded-circle" />
                </div>
                <div>
                  <h6 class="mb-0">Lester McCarthy (Client)</h6>
                  <span>CEO of ThemeSelection</span>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-item timeline-item-transparent">
            <span class="timeline-point-wrapper"><span class="timeline-point timeline-point-info"></span></span>
            <div class="timeline-event pb-0">
              <div class="timeline-header mb-1">
                <h6 class="mb-0">Create a new project for client</h6>
                <small class="text-muted">2 Day Ago</small>
              </div>
              <p class="mb-2">5 team members in a project</p>
              <div class="d-flex align-items-center avatar-group">
                <div class="avatar pull-up" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" aria-label="Vinnie Mostowy" data-bs-original-title="Vinnie Mostowy">
                  <img src="../../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                </div>
                <div class="avatar pull-up" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" aria-label="Marrie Patty" data-bs-original-title="Marrie Patty">
                  <img src="../../assets/img/avatars/12.png" alt="Avatar" class="rounded-circle" />
                </div>
                <div class="avatar pull-up" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" aria-label="Jimmy Jackson" data-bs-original-title="Jimmy Jackson">
                  <img src="../../assets/img/avatars/9.png" alt="Avatar" class="rounded-circle" />
                </div>
                <div class="avatar pull-up" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" aria-label="Kristine Gill" data-bs-original-title="Kristine Gill">
                  <img src="../../assets/img/avatars/6.png" alt="Avatar" class="rounded-circle" />
                </div>
                <div class="avatar pull-up" data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" aria-label="Nelson Wilson" data-bs-original-title="Nelson Wilson">
                  <img src="../../assets/img/avatars/14.png" alt="Avatar" class="rounded-circle" />
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-end-indicator">
            <i class="bx bx-check-circle"></i>
          </li>
        </ul>
        <!-- /Activity Timeline -->
      </div>
    </div> {% endcomment %}
    <!-- / Activity Timeline -->
  </div>
{% endblock %}
