{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}
  Add Fleet
{% endblock %}

{% block vendor_css %}
  {{ block.super }}
{% endblock %}

{% block vendor_js %}
  {{ block.super }}
{% endblock %}

{% block page_js %}
  {{ block.super }}
{% endblock %}

{% block content %}
  <div class="content" style=" text-align: center; margin: 0 auto;">
    <h2>Create Fleet (step - 1)</h2>
    <form method="post">
      {% csrf_token %}
      <label for="total_waste">Total Waste:</label>
      <input type="number" id="total_waste" name="total_waste" step="0.01" min="0" />

      <br /><br />

      <label for="landfill">Choose an landfill:</label>
      <select name="landfill" id="landfill">
        {% for landfill in landfills %}
          <option value="{{ landfill.id }}">{{ landfill }}</option>
        {% endfor %}
      </select>
      <br /><br />
      <input type="submit" value="Next" />
    </form>
  </div>
{% endblock %}
